@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局定制样式与 CSS 变量 */
:root {
  --van-primary-color: #1989fa; /* 覆盖 Vant 主题色 */
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f9;
  -webkit-tap-highlight-color: transparent;
}

/* 适配 iOS 底部安全区，针对使用 fixed 布局的 TabBar */
.van-tabbar {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
